.Mobile-our-service {
    width: 100%;
    height: 100%;
}

.Mobile-our-service .swiper-slide {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width:600px) {
    .Mobile-our-service .swiper-slide img {
            width: 256px !important ;
            height: 100% !important;
    }
    
}
