.portfolio {
    width:236px;
    height: 350px;
  }
  
  .portfolio-item {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    background-color: #F1F5F9;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
  }
 
  .portfolio-item  img {
    width: 100% ;
    height: 100% ;
    border-radius: 10px;
    border: 1px solid #3D007C;
  }

  @media screen and (max-width:600px) {
    .portfolio{
      width: 100%;
      height: 100%px;
    }
    
  }
  
 