.mainlogo{
    width: 305px;
    height: 70px;
}
.headercontainer{
    background-color:transparent !important;
}
@media screen and (max-width: 600px) {
    .mainlogo{
        width: 200px;
        height: auto;
    }
    
}
