.service-swiper-container {
    width: 100%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0 auto !important;
  }
  
  .service-swiper-item {
    background-position: center;
    background-size: cover;
    width: 450px !important;
    /* height: 260px !important; */
    
  }
  .services-img{
    width: 132px !important;
    height: 132px !important;
  }
  .swiper-slide-shadow-left , .swiper-slide-shadow-right{
    border-radius: 24px !important;
  }
