@font-face {
    font-family: iransans;
    src: url(./assets/fonts/IRANSansWebFaNum.woff2);
}
@font-face {
    font-family: moraba;
    src: url(./assets/fonts/Morabba-Bold.woff2);
}
body{
    direction: rtl;
}
