@font-face {
    font-family: iransans;
    src: url(../public/assets/fonts/IRANSansWebFaNum.woff2);
}
@font-face {
    font-family: moraba;
    src: url(../public/assets/fonts/Morabba-Bold.woff2);
}
body{
    direction: rtl;
}
